:root {
    --box-color: #282626;
    --shadow: #212226;
    --primarycolor: #D4145A;
    --secondarycolor: #FBB03B;
}

.container{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(to right, #D4145A, #FBB03B);
    display: grid;
    place-items: center;
}

.quote-container{
    position: relative;
    width: 90vmin;
    aspect-ratio: 3/2;
    background-color: var(--box-color);
    border-radius: 4rem;
    padding: 4rem;
    box-shadow: -2rem 2rem 5rem var(--shadow);
    overflow: hidden; /* clip off circles */
    

}

.app-heading{
    font-family: "Bebas Neue", sans-serif;
    font-size: 5rem;
    color: white;
}

.fav-icon{
    position: absolute;
    right: 5rem;
    top: 5rem;
    font-size: 4rem;
    background-image: linear-gradient(to left, #f4d3d3, #ffcfcf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    text-shadow: -0.1rem 0.11rem 9rem rgb(246, 119, 119);
}

.fav-icon:active{
    transform: translateY(0.5rem);

}

.quote{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

}

.quote i{
    font-size: 3rem;
    color: white;

}

.quote-text{
    font-size: clamp(1.6rem, 2cqi, 3rem);
    font-family: "Comfortaa", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 3rem;
    text-align: center;
    letter-spacing: 0.1rem;
    width: clamp(25rem, 35cqi, 40rem);
}

.quote-author{
    font-family: "Birthsone", cursive;
    font-size: 1.4rem;
    color: #888;
    text-align:right;

}

.right-quote{
    text-align: right;
}


.buttons{
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    column-gap: 2rem;
}

.btn{
    width: 18rem;
    height: 4rem;
    border-radius: 2rem;
    border: none;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    box-shadow: 3rem 2rem 4rem var(--shadow);
    text-shadow: 0.1rem 0.6rem 1.1rem var(--shadow)
}

.btn:active{
    transform: translateY(0.5rem);
}

.btn-new{
    
}

.btn-fav{
    background-image: linear-gradient(to left, rgb(243, 102, 102), rgb(232, 47, 47));
    color: white;
}

.circles div {
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;
}

.circle-1{
    width: clamp(5rem, 10cqi, 16rem);
    background-image: linear-gradient(to top, var(--primarycolor), rgb(255, 92, 92));
    top: -6cqi;
    left: 50%;
}

.circle-2{
    width: clamp(2rem, 4cqi, 6rem);
    background-image: linear-gradient(to top, var(--secondarycolor), rgb(248, 108, 37));
    left: 7rem;
    bottom: 15rem;

}
.circle-3 {
    width: clamp(5rem, 10cqi, 16rem);
    background-image: linear-gradient(to right, var(--primarycolor), rgb(255, 92, 92));
    top: 50%;
    right: -5cqi;
}

.circle-4 {
    width: clamp(1rem, 1cqi, 2rem);
    background-image: linear-gradient(to left, var(--secondarycolor), rgb(248, 108, 37));
    top: 30%;


}
